{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}
{% block 'title'%}Recuperar senha{% endblock %}
{% block 'body' %}
    <div class="box">
        <form action="" method="POST">{% csrf_token %}
            <h1 class="titulo font-degrade borda-bottom-degrade">RECUPERAR SENHA</h1>
            <br>
            <span class="span-descricao">Nova senha:</span>
            <input type="password" class="form-control input-cadastro" name="new_password1">
            <br>
            <span class="span-descricao">Confirmação da nova senha:</span>
            <input type="password" class="form-control input-cadastro" name="new_password2">
            <br>
            <p class="span-descricao">* Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</p>
            <p class="span-descricao">* Sua senha precisa conter pelo menos 8 caracteres</p>
            <p class="span-descricao">* Sua senha não pode ser uma senha comumente utilizada</p>
            <p class="span-descricao">* Sua senha não pode ser inteiramente numérica</p>
            <input class='btn btn-success btn-lg' type="submit" value="enviar">
            {% if form.errors %}
                {{form.errors}}
            {% endif %}
        </form>
    </div>
{% endblock %}
    