{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}
{% block 'title'%}Recuperar senha{% endblock %}
{% block 'body' %}
    <div class="box">
        <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
            <h1 class="titulo font-degrade borda-bottom-degrade">RECUPERAR SENHA</h2>
            <br>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            <br>
          {% endif %}
            <span style='display: flex; padding-bottom: 12px;' class="span-descricao">E-mail:</span>
            <input type="email" class="form-control" name="email">
            <br>
            <br>
            <input class='btn btn-success btn-lg' type="submit" value="Recuperar senha">
            {% if form.errors %}
                {{form.errors}}
            {% endif %}
            <br>
        </form>
    </div>
{% endblock %}